html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 2em;
}
article{
    font-family: Roboto, Helvetica 'Segoe UI', Times, serif
}
article p{
    margin-bottom:.5em;
}
.altBg {
    background: #5170e1;
    color: #fefaff;
}
.txtBg {
    background: #e1eee4;
    color: #101101;
}
dt {
    border-top:solid 2px silver;
}
dl .altBg, dl .txtBg {
    padding-left: 15px;
    padding-top: 3px;
}
.lavender-btn{
    background:lavender;
    color:darkcyan;
}
.suggestions li {
    list-style: none;
    margin: 5px;
    display:inline-block;
}
h4:first-letter {
    text-transform: uppercase;
}
.search-compo {
    border: solid whitesmoke;
    margin: 15px;
}
dis-means dl {
    box-shadow: #7a7e79 8px 6px;
    border: solid #e1eae3;
}
    dis-means dl dd pre {
        margin-left: 1rem;
        font-family: "corbel","Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
    }
.noticePanel {
    position: fixed;
    top: 20px;
    right: 20%;
}

.notification {
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s ease-in-out;
    font-family: "Lucida Console","IBM Plex Serif",'Segoe UI',  sans-serif
}
    .notification .progress-bar {
        background-color: #4CAF50;
        height: 5px;
        width: 100%;
        border-radius: 3px;
        transition: width 4s linear;
    }
    .notification.hidden{
        display:none;
    }
div.cards .card{
    display:inline-block;
    margin: 1rem;
}
.card:host {
    display: inline-block;
    margin: .5rem
}

.card__content {
    padding: 1rem;
}

.card__title {
    color: #222;
    margin-top: 0;
    line-height: 1.1;
}

div.card__description {
    border-top: solid 1px #777;
}

img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

.card__cta {
    margin-top: 1.5rem;
}

    .card__cta a {
        color: #eaeaea;
        display: block;
        background-color: #333;
        padding: 0.25rem 1rem;
        border-radius: 5px;
        text-align: center;
    }