html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
article{
    font-family: Roboto, Helvetica 'Segoe UI', Times, serif
}
.altBg {
    background: #5170e1;
    color: #fefaff;
}
.txtBg {
    background: #e1eee4;
    color: #101101;
}
dl .altBg, dl .txtBg {
    padding-left: 15px;
    padding-top: 3px;
}
.lavender-btn{
    background:lavender;
    color:darkcyan;
}
.suggestions li {
    list-style: none;
    margin: 5px;
    display:inline-block;
}