<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - English Dictionary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnglishDictionary.styles.css" asp-append-version="true" />
</head>
<body>
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="modal main-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <a class="close btn" data-dismiss="modal" aria-label="Close"
                       onclick='document.querySelector(".main-modal").classList.remove("d-block")'>
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year 
        </div>
    </footer>
    <script src="~/js/jscomponent/cardcompo.js"></script>
    <script src="~/js/jscomponent/definecompo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ServerCaller.js"></script>
    <script src="~/js/DictionarySite.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>