@page
@model IndexModel
@{
    ViewData["Title"] = "Look for definitions";
}

<div class="text-center search-compo">
    <h1 class="display-4">Enter a word</h1>
    <p class="subtitle">Press Search and see returned dictionary definition</p>
    <h2>
        <input id="wordBox" placeholder="Definition look up" />
        <a id="searchBtn" class="btn btn-primary">Search</a>
        <a class="speak-btn btn btn-success">Speak</a>
    </h2>
   
</div>
<div class="row">
    <div class="suggestions col-sm-2"></div>
    <article class="col-sm-9"></article>
</div>
<div class="cards">
    
</div>

@section Scripts{
    <script src="~/js/HomePage.js"></script>
}