@page
@model IndexModel
@{
    ViewData["Title"] = "Look for definitions";
}

<div class="text-center">
    <h1 class="display-4">Enter a word</h1>
    <h2>
        <input id="wordBox" placeholder="definition look up" />
        <a id="searchBtn" class="btn btn-primary">Search</a>
    </h2>
   
</div>
<div class="row">
    <div class="suggestions col-sm-2"></div>
    <article class="col-sm-10"></article>
</div>

@section Scripts{
    <script>
        window.addEventListener("load", (event) => {
            
            //document.querySelector(".projection-tbl").classList.add("d-none");
            let btnSearch = document.querySelector("#searchBtn");
            let searchBox = document.querySelector("#wordBox");
            DictionarySite.btnSearch=btnSearch;
            DictionarySite.searchBox=searchBox;
            btnSearch.addEventListener('click', function () {
                DictionarySite.getMeaning(searchBox.value, "article");
            });
            searchBox.addEventListener("keypress", function (event) {
                // If the user presses the "Enter" key on the keyboard
                if (event.key === "Enter") {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    btnSearch.click();
                }
            });
            function Xsuggest(word) {
                let webCaller= new WebCaller();
                webCaller.get('?handler=Suggestion&word=' + word
                    , function (result) {
                        let h5 = document.createElement("h5"), suggestionsElem = document.querySelector(".suggestions");
                        let p = document.createElement("p");
                        h5.innerText="suggestions";
                        suggestionsElem.innerHTML="";
                        suggestionsElem.append(h5);
                        p.innerText=result;
                        suggestionsElem.append(p);
                    },
                    function (data) {
                        alert(data);
                        let suggestionsElem = document.querySelector(".suggestions");
                        suggestionsElem.innerHTML = "";
                    });
            }
        });
    </script>
}